.commandButton {
  display: flex;
  align-items: center;
  min-width: 32px;

  &:hover {
    background: rgb(22, 130, 219);
  }

  button {
    cursor: pointer;
    border: none;
    font-size: inherit;
    background: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    gap: 10px;

    &:hover {
      color: white;
    }

    .value {
      padding: 0 10px;
    }
  }
}

.menu {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  width: 250px;
  border: solid 1px #ccc;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  a {
    display: block;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: #ccc;
    }
  }
}

@media screen and (max-width: 500px) {
  .commandButton {
    width: 100%;

    button {
      width: 100%;
      gap: 10px;
    }
  }
}
