.header {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #eee;

  li {
    list-style: none;

    &.active {
      background-color: #ddd;
    }

    a {
      color: #222;
      display: block;
      text-decoration: none;
      padding: 10px;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
