.listContainer {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 20px;

  .headerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    padding: 10px 15px;

    .listDetails {
      width: auto !important;
      h3 {
        margin: 0;
        font-size: 24px;
      }
    }
    .col {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .numberOfItems {
        width: 33%;
      }

      .current {
        font-weight: bold;
      }
    }

    .total {
      font-size: 14px;
      font-weight: lighter;
    }
  }

  .row {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 500px) {
  .headerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

    .col {
      width: 100% !important;
      display: flex;
      justify-content: center;

      .numberOfItems,
      .totals {
        width: auto !important;
      }
    }
    .listDetails {
      width: 100%;
    }
  }
}
