.listViewInfo {
  display: flex;

  .listTitle {
    flex-grow: 1;
  }
}

.peopleContainer {
  display: flex;
  gap: 5px;
  img {
    width: 32px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 500px) {
  .listView {
    .listViewInfo {
      flex-direction: column;
      text-align: center;

      .listTitle {
        font-size: 30px;
        margin: 10px;
      }

      .listCost {
        font-size: 20px;
      }
    }

    .peopleContainer {
      justify-content: center;
    }
  }
}
