.mainInput {
  border: solid 1px #ccc;

  form {
    display: flex;

    .text {
      border-right: solid 1px #ccc;
    }

    .priceAndCommandButtonsContainer {
      display: flex;
    }

    .priceContainer {
      padding-left: 5px;
      display: flex;
      align-items: center;

      span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  input,
  select {
    box-sizing: border-box;
    border-radius: 0;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .mainInput {
    border: none;
    font-size: 20px;
    form {
      flex-direction: column;
      input,
      select {
        border: none;
        padding: 10px;
        font-size: inherit;
        width: 100%;
      }

      .text {
        border-radius: 4px;
        border: solid 1px #ccc;
      }
      .priceContainer {
        border-radius: 4px;
        border: solid 1px #ccc;
        font-size: inherit;
      }
      .price {
        flex-grow: 1;
      }

      .addButton {
        background-color: #2196f3;
        font-size: 16px;
        font-weight: bolder;
        color: white;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 701px) {
  .mainInput {
    form {
      flex-direction: row;
      .text {
        width: 50%;
      }

      .addButton {
        display: none;
      }
    }
  }
}
