.row {
  font-size: 18px;
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
  align-items: center;
  gap: 10px;

  .row-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .date {
      display: flex;
    }

    .product-info {
      text-overflow: ellipsis;
      display: flex;
      gap: 10px;
    }
  }
  .price {
    font-weight: bolder;
    display: flex;
    gap: 5px;
  }
}
