@mixin button {
  color: #bbb;
  font-size: 18px;
  border: none;
  background: none;
  padding: 24px 15px;
  cursor: pointer;
}

.row {
  font-size: 18px;
  display: flex;

  border-bottom: solid 1px #ddd;
  align-items: center;

  .row-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .date {
      display: flex;
      font-size: 14px;
    }

    .product-info {
      text-overflow: ellipsis;
      display: flex;
      gap: 10px;
    }
  }
  .price {
    font-weight: bolder;
    display: flex;
    padding: 0 10px;
  }

  .editButton {
    @include button();

    &:hover {
      background: rgb(22, 130, 219);
      color: white;
      svg {
        fill: white;
      }
    }
  }

  .deleteButton {
    @include button();

    &:hover {
      background: rgb(247, 68, 68);
      color: white;

      svg {
        fill: white;
      }
    }
  }
}
