body {
  font-size: 18px;
  background-color: rgb(178, 214, 255);
}
input,
select {
  padding: 5px;
  border: solid 3px #ddd;
  border-radius: 5px;
  outline: none;
  margin: 5px 0;

  &:focus {
    border: solid 3px #74b9ff;
  }
}

label {
  display: block;
}

#main-container {
  background-color: white;
  border-radius: 4px;
  width: 1280px;
  height: 80vh;
  overflow: hidden;
  margin: 20px auto;
  display: flex;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#content-container {
  box-sizing: border-box;
  padding: 20px;
  width: 980px;
  overflow: auto;
}
